# React / Vite / Next.js (frontend)

# Node dependencies
node_modules/

# Build outputs
dist/
build/
.out/
.next/

# Vite cache
.vite/

# Testing
coverage/

# Environment variables
.env
.env.*.local
.env.local
.env.example

# IDE / Editor configs
.DS_Store
.idea/
.vscode/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*